In [1]:
import numpy as np
import pandas as pd
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.filterwarnings("ignore", category=ConvergenceWarning)

In [2]:
df = pd.read_csv('data/data_badminton.csv')

In [3]:
df.head()

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1
3,Suresh Narayanasamy,Fair,"Certified Buyer, Chennai",25.0,1.0,NaN,"Quite O. K. , but nowadays the quality of the...",3
4,ASHIK P A,Over priced,NaN,147.0,24.0,Apr 2016,Over pricedJust â?¹620 ..from retailer.I didn'...,1

In [4]:
df[['Review text', 'Ratings']]

                                            Review text  Ratings
0     Nice product, good quality, but price is now r...        4
1     They didn't supplied Yonex Mavis 350. Outside ...        1
2     Worst product. Damaged shuttlecocks packed in ...        1
3     Quite O. K. , but nowadays  the quality of the...        3
4     Over pricedJust â?¹620 ..from retailer.I didn'...        1
...                                                 ...      ...
8513                                                NaN        5
8514                                                NaN        2
8515                                                NaN        4
8516                                                NaN        1
8517                                                NaN        4

[8518 rows x 2 columns]

In [5]:
df[['Review text', 'Ratings']].dropna(inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_3944\2606411215.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Review text', 'Ratings']].dropna(inplace=True)

In [6]:
df[['Review text']].isnull().sum()

Review text    8
dtype: int64

In [7]:
df[['Review text']].dropna(inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_3944\1642183907.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Review text']].dropna(inplace=True)

In [8]:
df

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1
3,Suresh Narayanasamy,Fair,"Certified Buyer, Chennai",25.0,1.0,NaN,"Quite O. K. , but nowadays the quality of the...",3
4,ASHIK P A,Over priced,NaN,147.0,24.0,Apr 2016,Over pricedJust â?¹620 ..from retailer.I didn'...,1
...,...,...,...,...,...,...,...,...
8513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
8514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
8515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
8516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
8517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [9]:
df['Review text'][0]

'Nice product, good quality, but price is now rising which is a bad sign. 800-850 was an affordable price, especially when we play everyday. So kindly help us out in terms of the price. Thank You.READ MORE'

In [10]:
df['Review text'] = df['Review text'].apply(lambda x: str(x)[:-9])

In [11]:
df = df[['Review text', 'Ratings']]

In [12]:
df['Review text'][0]

'Nice product, good quality, but price is now rising which is a bad sign. 800-850 was an affordable price, especially when we play everyday. So kindly help us out in terms of the price. Thank You.'

In [13]:
df['Ratings'] = df['Ratings'].apply(lambda x: "Positive" if x >= 4 else 'Negative')

C:\Users\hp\AppData\Local\Temp\ipykernel_3944\437799971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ratings'] = df['Ratings'].apply(lambda x: "Positive" if x >= 4 else 'Negative')

In [14]:
df['Ratings'].value_counts()

Ratings
Positive    6826
Negative    1692
Name: count, dtype: int64

## 1. Identify Target Variable and Predictors

In [15]:
X = df[['Review text']]
y = df['Ratings']

## 2. Split the Data into Train and Test

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0, stratify=y)

## 3. Data Preprocessing

In [18]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [19]:
nltk.download('stopwords')
# Downloading wordnet before applying Lemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [20]:
## initialise the inbuilt Stemmer
stemmer = PorterStemmer()

## We can also use Lemmatizer instead of Stemmer
lemmatizer = WordNetLemmatizer()

In [21]:
def preprocess(raw_text, flag):
    # Convert input to string (if it's not already)
    raw_text = str(raw_text)

    # Removing emojis
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002500-\U00002BEF"  # chinese char
                               u"\U00002702-\U000027B0"
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               u"\U0001f926-\U0001f937"
                               u"\U00010000-\U0010ffff"
                               u"\u2640-\u2642" 
                               u"\u2600-\u2B55"
                               u"\u200d"
                               u"\u23cf"
                               u"\u23e9"
                               u"\u231a"
                               u"\ufe0f"  # dingbats
                               u"\u3030"
                               "]+", flags=re.UNICODE)
    raw_text = emoji_pattern.sub(r'', raw_text)

    # Removing special characters and digits
    sentence = re.sub("[^a-zA-Z]", " ", raw_text)

    # change sentence to lower case
    sentence = sentence.lower()

    # tokenize into words
    tokens = sentence.split()

    # remove stop words
    clean_tokens = [t for t in tokens if not t in stopwords.words("english")]

    # Stemming/Lemmatization
    if flag == 'stem':
        clean_tokens = [stemmer.stem(word) for word in clean_tokens]
    else:
        clean_tokens = [lemmatizer.lemmatize(word) for word in clean_tokens]

    return pd.Series([" ".join(clean_tokens), len(clean_tokens)])

In [22]:
from tqdm import tqdm, tqdm_notebook

In [23]:
# Register `pandas.progress_apply` and `pandas.Series.map_apply` with `tqdm`

tqdm.pandas()

In [24]:
X_train

                                 Review text
3962                            Poor quality
635                                  Best :)
8381                                   Super
1191                                   Super
4240                                    Good
...                                      ...
4429  very nice product 👌👌 at a better price
223     worst product not to buy low quality
1664                                   Super
3923                              Super deal
8424         Very good and original product.

[6388 rows x 1 columns]

In [25]:
temp_df = X_train['Review text'].progress_apply(lambda x: preprocess(x, 'lemma'))

temp_df.head()

100%|█████████████████████████████████████████████████████████████████████████████| 6388/6388 [00:22<00:00, 279.03it/s]

                 0  1
3962  poor quality  2
635           best  1
8381         super  1
1191         super  1
4240          good  1

In [26]:
temp_df.columns = ['clean_text_lemma', 'Text_length_lemma']
temp_df

                   clean_text_lemma  Text_length_lemma
3962                   poor quality                  2
635                            best                  1
8381                          super                  1
1191                          super                  1
4240                           good                  1
...                             ...                ...
4429      nice product better price                  4
223   worst product buy low quality                  5
1664                          super                  1
3923                     super deal                  2
8424          good original product                  3

[6388 rows x 2 columns]

In [27]:
X_train_clean = pd.concat([X_train, temp_df], axis=1)
X_train_clean

,Review text,clean_text_lemma,Text_length_lemma
3962,Poor quality,poor quality,2
635,Best :),best,1
8381,Super,super,1
1191,Super,super,1
4240,Good,good,1
...,...,...,...
4429,very nice product 👌👌 at a better price,nice product better price,4
223,worst product not to buy low quality,worst product buy low quality,5
1664,Super,super,1
3923,Super deal,super deal,2
8424,Very good and original product.,good original product,3

In [28]:
temp_df = X_test['Review text'].progress_apply(lambda x: preprocess(x, 'lemma'))

temp_df.head()

100%|█████████████████████████████████████████████████████████████████████████████| 2130/2130 [00:07<00:00, 286.20it/s]

                 0  1
5730          good  1
2460  good quality  2
4964          good  1
6734     excellent  1
8013  good product  2

In [29]:
temp_df.columns = ['clean_text_lemma', 'Text_length_lemma']
temp_df

                                     clean_text_lemma  Text_length_lemma
5730                                             good                  1
2460                                     good quality                  2
4964                                             good                  1
6734                                        excellent                  1
8013                                     good product                  2
...                                               ...                ...
3458                                 nice worth money                  3
2265                                            power                  1
5040                          nice product cheap cost                  4
3539                                           superb                  1
6483  worth money product r sale really loved awesome                  8

[2130 rows x 2 columns]

In [30]:
X_test_clean = pd.concat([X_test, temp_df], axis=1)
X_test_clean

,Review text,clean_text_lemma,Text_length_lemma
5730,good,good,1
2460,Very good quality,good quality,2
4964,good,good,1
6734,excellent,excellent,1
8013,Good product,good product,2
...,...,...,...
3458,Nice 👌 worth the money,nice worth money,3
2265,Power,power,1
5040,nice product in cheap cost,nice product cheap cost,4
3539,Superb,superb,1
6483,Worth of money product only for rs 675 on sale...,worth money product r sale really loved awesome,8

In [31]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report
import joblib

In [32]:
# Define pipeline components
tfidf_vectorizer = TfidfVectorizer()
logistic_regression = LogisticRegression(max_iter=1000)
random_forest = RandomForestClassifier()
svm_classifier = SVC()

# Create pipelines
pipeline_lr = Pipeline([('tfidf', tfidf_vectorizer), ('clf', logistic_regression)])
pipeline_rf = Pipeline([('tfidf', tfidf_vectorizer), ('clf', random_forest)])
pipeline_svm = Pipeline([('tfidf', tfidf_vectorizer), ('clf', svm_classifier)])

# Define hyperparameters for tuning
param_grid_lr = {
    'tfidf__max_features': [5000, 10000, None],
    'clf__C': [0.1, 1, 10]
}

param_grid_rf = {
    'tfidf__max_features': [5000, 10000, None],
    'clf__n_estimators': [50, 100, 200]
}

param_grid_svm = {
    'tfidf__max_features': [5000, 10000, None],
    'clf__C': [0.1, 1, 10],
    'clf__kernel': ['linear', 'rbf']
}

In [33]:
# Perform grid search with cross-validation
grid_search_lr = GridSearchCV(pipeline_lr, param_grid_lr, cv=5, verbose=1)
grid_search_rf = GridSearchCV(pipeline_rf, param_grid_rf, cv=5, verbose=1)
grid_search_svm = GridSearchCV(pipeline_svm, param_grid_svm, cv=5, verbose=1)

# Fit the models
grid_search_lr.fit(X_train_clean['clean_text_lemma'], y_train)
grid_search_rf.fit(X_train_clean['clean_text_lemma'], y_train)
grid_search_svm.fit(X_train_clean['clean_text_lemma'], y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
Fitting 5 folds for each of 9 candidates, totalling 45 fits
Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('tfidf', TfidfVectorizer()),
                                       ('clf', SVC())]),
             param_grid={'clf__C': [0.1, 1, 10],
                         'clf__kernel': ['linear', 'rbf'],
                         'tfidf__max_features': [5000, 10000, None]},
             verbose=1)

In [34]:
# Print best parameters for each model
print("Best parameters for Logistic Regression:", grid_search_lr.best_params_)
print("Best parameters for Random Forest:", grid_search_rf.best_params_)
print("Best parameters for SVM:", grid_search_svm.best_params_)

Best parameters for Logistic Regression: {'clf__C': 1, 'tfidf__max_features': 5000}
Best parameters for Random Forest: {'clf__n_estimators': 200, 'tfidf__max_features': 5000}
Best parameters for SVM: {'clf__C': 1, 'clf__kernel': 'rbf', 'tfidf__max_features': 5000}

In [35]:
# Evaluate models
lr_predictions = grid_search_lr.predict(X_test_clean['clean_text_lemma'])
print("Logistic Regression Classification Report:")
print(classification_report(y_test, lr_predictions))

rf_predictions = grid_search_rf.predict(X_test_clean['clean_text_lemma'])
print("Random Forest Classification Report:")
print(classification_report(y_test, rf_predictions))

svm_predictions = grid_search_svm.predict(X_test_clean['clean_text_lemma'])
print("SVM Classification Report:")
print(classification_report(y_test, svm_predictions))

Logistic Regression Classification Report:
              precision    recall  f1-score   support

    Negative       0.81      0.42      0.56       423
    Positive       0.87      0.98      0.92      1707

    accuracy                           0.87      2130
   macro avg       0.84      0.70      0.74      2130
weighted avg       0.86      0.87      0.85      2130

Random Forest Classification Report:
              precision    recall  f1-score   support

    Negative       0.72      0.48      0.58       423
    Positive       0.88      0.95      0.92      1707

    accuracy                           0.86      2130
   macro avg       0.80      0.72      0.75      2130
weighted avg       0.85      0.86      0.85      2130

SVM Classification Report:
              precision    recall  f1-score   support

    Negative       0.85      0.45      0.59       423
    Positive       0.88      0.98      0.93      1707

    accuracy                           0.88      2130
   macro avg       0.87      0.72      0.76      2130
weighted avg       0.87      0.88      0.86      2130

In [36]:
# Save the best models
joblib.dump(grid_search_lr.best_estimator_, 'lr_model.pkl')
joblib.dump(grid_search_rf.best_estimator_, 'rf_model.pkl')
joblib.dump(grid_search_svm.best_estimator_, 'svm_model.pkl')

['svm_model.pkl']